/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_light {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --main-font: 'IBM Plex Mono', monospace;
  --bg-color: #FFF1F7;
  --title-bg-color: #FFC2E6;
  --text-color-main: #353430;
  --text-color-title: #FFC2E6;
  --text-color-title-main: #353430;
  --text-color-subtitle: #FF8DCB;
  --text-color-buttons: #353430;
  --text-color-link: #353430;
  --link-bg-color: #FFC2E6;
  --link-border-color: #353430;
  --text-shadow: #FF0070;
  --bg-img: url(../images/cover-image-light.png);
}

@media (min-width: 768px) and (max-width: 1023px) {
  .page.theme_light {
    --text-shadow: #FF8DCB;
  }
}

@media (min-width: 0px) and (max-width: 767px) {
  .page.theme_light {
    --text-shadow: #FF8DCB;
  }
}

/* Фоновая картинка в хедере */

.page.theme_light {
  background-image: var(--bg-img);
}

.page.theme_light .header__theme-menu-rec {
  display: none;
}

@media (prefers-color-scheme: light) {
  :root {
    --main-font: 'IBM Plex Mono', monospace;
    --bg-color: #FFF1F7;
    --title-bg-color: #FFC2E6;
    --text-color-main: #353430;
    --text-color-title: #FFC2E6;
    --text-color-title-main: #353430;
    --text-color-subtitle: #FF8DCB;
    --text-color-buttons: #353430;
    --text-color-link: #353430;
    --link-bg-color: #FFC2E6;
    --link-border-color: #353430;   
    --bg-img: url(../images/cover-image-light.png);
  }

  @media (min-width: 767px) and (max-width: 1023px) {
    :root {
      --text-shadow: #FF8DCB;
    }
  }

  @media (min-width: 0px) and (max-width: 767px) {
    :root {
      --text-shadow: #FF8DCB;
    }
  }

  /* Фоновая картинка в хедере */

  .page.theme_auto .header__theme-menu-rec {
    display: none;
  }

  .page.theme_auto {
    background-image: var(--bg-img);
  }

}