/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
  margin: auto;
  color: var(--text-color-main, #F1B2CE);
  font-family: var(--main-font, monospace);
  background-color: var(--bg-color);
}

/* Стили для хедера */

.header {
  min-block-size: 100vh;
  position: relative;
  background-image: url(../images/cover-image-dark.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.decorated-zone {
  display: grid;
  grid-template-rows: 62px 1fr 240px;
}

.header__theme-menu {
  display: flex;
  justify-content: center;
  padding-top: 19px;
  height: 20px;
}

.header__theme-menu-list {
  display: grid;
  grid-column-gap: 12px;
  grid-auto-flow: column;
  grid-template-columns: repeat(3, 68px);
  list-style-type: none;
}

.header__theme-menu-item {
  box-sizing: border-box;
  height: 25px;
  text-align: center;
}

.header__theme-menu-button {
  display: flex;
  justify-content: center;
}

.header__theme-menu-rec {
  position: absolute;
  right: 48px;
  top: 20px;
  font-size: 18px;
  align-self: center;
  text-transform: uppercase;
  color: var(--text-color-subtitle);
}

.decorative_frames::after {
  content: '';
  display: inline-block;
  width: 23px;
  height: 23px;
  position: absolute;
  right: 21px;
  top: 20px;
  border-top: 1px solid var(--text-color-buttons);
  border-right: 1px solid var(--text-color-buttons);
}

.decorative_frames::before {
  content: '';
  display: inline-block;
  width: 23px;
  height: 23px;
  position: absolute;
  left: 20px;
  bottom: 20px;
  border-bottom: 1px solid var(--text-color-buttons);
  border-left: 1px solid var(--text-color-buttons);
}

.header__theme-menu-rec::after {
  content: '';
  display: inline-block;
  background-image: url('../images/ellipse.png');
  background-repeat: no-repeat;
  width: 23px;
  height: 23px;
  position: absolute;
  left: 35px;
  top: 0;
}

.header__theme-menu-item:hover {
  outline: 1px solid var(--text-color-buttons);
}

.header__theme-menu-item:has(.header__theme-menu-button_active)  {
  outline: 1px solid var(--text-color-buttons);
  pointer-events: none;
}

.header__theme-menu-button {
  width: 68px;
  height: 25px;
}

.header__theme-menu-button:focus-visible {
  outline: none;
  border-bottom: 1px solid var(--text-color-buttons);
}

.header__theme-menu-button {
  background-color: transparent;
  text-transform: lowercase;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  color: var(--text-color-buttons);
  cursor: pointer;
  border: 1px solid transparent;
}

.header__title {
  display: flex;
  gap: 95px;
  text-shadow: 4px 4px 0px #FF0070;
  color: var(--text-color-title, #DB00FF);
  font-family: var(--main-font, monospace);
  font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem) ;
  font-style: normal;
  font-weight: 700;
  align-self: end;
  margin-block-start: 0.67em;
  margin-block-end: 43px;
}

.header_layout_paragraph {
  height: 100%;
  display: flex;
  justify-content: end;
}

.header_paragraph {
  width: 491px;
  height: 71px;
  margin-block-start: 35px;
  margin-inline-end: 20px;
  font-size: 100%;
  font-style: normal;
  font-weight: 700;
  justify-self: end;
}

a.text-link:active,
a.text-link:hover,
a.text-link {
  color: var(--text-color-link);
  text-shadow: 2px 2px 0px var(--link-bg-color);
  text-decoration: none;

}

a.text-link:hover {
  border-bottom: 1px solid var(--link-border-color);
}

a.text-link:focus-visible {
  outline: none;
  border-bottom: 1px solid var(--link-border-color);
}

.heading {
  font-family: var(--main-font, monospace);
  font-weight: 700;
  font-size: 18px;
  color: var(--text-color-title-main);
  margin-block-end: 0;
  margin-block-start: 0;
}

.title-decor {
  display: inline-block;
  color: #000028;
  overflow: hidden;
  background-color: var(--text-color-subtitle);
}


h2.heading.title-decor {
  font-weight: 700;
}

h3.heading.title-decor {
  font-weight: 400;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 77px;
  padding-top: 60px;
  padding-left: 20px;
  padding-right: 20px;
}

/* стили к первой секции в основной части страницы */

.first-section {
  display: grid;
  column-gap: 10px;
  row-gap: 19px;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: repeat(2, 1fr);
}

h2.heading.title-decor,
h3.heading.title-decor,
h4.heading.title-decor {
  display: block;
}

.first-section_second-article {
  grid-column: 2;
}

.main_paragraph {
  margin-block-start: 0;
  margin-block-end: 0;
  line-height: 1.3179em;
  padding-top: 9px;
  font-size: 18px;
}

/* стили ко второй секции в основной части страницы */

.second-section {
  display: grid;
  column-gap: 20px;
  row-gap: 19px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr 9fr;
}

.second-section_first-article {
  grid-row: 2;
}

.second-section_second-article {
  grid-row: 2;
}

.second-section_third-article {
  grid-row: 2;
}

/* стили к третьей секции в основной части страницы */

.third-section {
  display: grid;
  column-gap: 10px;
  row-gap: 19px;
  grid-template-columns: 1fr 2fr;
}

.layout-articles_third-section {
  display: flex;
  flex-direction: column;
  gap: 1.2em;
}

.third-section_first-article,
.third-section_second-article,
.third-section_third-article,
.third-section_fourth-article,
.third-section_fifth-article {
  grid-column: 2;
}

/* стили к четвёртой секции в основной части страницы */

.gallery img {
  object-fit: cover;
}

.fourth-section {
  display: flex;
  padding-top: 3px;
  flex-direction: column;
  gap: 22px;
}

.gallery {
  display: grid;
  row-gap: 20px;
  column-gap: 20px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 260px 315px 428px;
}

.fourth-section_first-img {
  width: 206%;
  height: 99%;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 1;
}

.fourth-section_second-img {
  width: 100%;
  height: 99%;
  grid-column-start: 3;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 3;
}

.fourth-section_third-img {
  width: 100%;
  height: 99%;
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
}

.fourth-section_fourth-img {
  width: 100%;
  height: 243%;
  grid-row-start: 2;
}

.fourth-section_fifth-img {
  width: 207%;
  height: 100%;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 3;
}

/* Стили для футера */

.footer {
  display: flex;
  margin-top: 64px;
  min-block-size: 100vh;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  color: var(--text-color-title, #DB00FF);
  text-shadow: 4px 4px 0px var(--text-shadow);
}

.title__footer {
  font-family: var(--main-font, monospace);
  font-size: 157px;
  font-weight: 700;
}

@media (min-width: 376px) and (max-width: 768px) {
  /* Переопределение стилей для хедера ширина 768px */
  
  .decorated-zone {
    position: relative;
    grid-template-rows: 341px 341px 341px;
  }

  .header__theme-menu {
    justify-content: end;
    align-items: start;
    margin-inline-end: 3%;
    margin-block-start: 22%;
  }
  
  .header__theme-menu-list {
    grid-row-gap: 13px;
    grid-template-rows: repeat(3, 26px);
    grid-template-columns: 1fr;
  }

  .header__title {
    gap: 70px;
    text-shadow: 4px 4px 0px var(--text-shadow);
    margin-block-end: 89px;
  }

  .header_paragraph {
    width: 47.5%;
    height: 117px;
    margin-block-start: 44px;
  }
  /* Переопределение стилей для основной части страницы ширина 768px */

  /* Первая секция main */

  .first-section {
    column-gap: 65px;
    grid-template-columns: 1.2fr 3fr;
  }
  
  h2.heading {
    font-size: 1em;
    line-height: 150%;
    word-spacing: 7px;
  }

  /* Вторая секция main */

  .second-section {
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    grid-template-rows: 60px 1fr 1fr 1fr;
    grid-template-columns: 1fr 2fr 2fr;
  }

  .second-section_first-article {
    grid-column-start: 1;
    grid-column-end: 4;
    padding-top: 30px;
  }

  .second-section_second-article {
    grid-row: 3;
    grid-column-start: 1;
    grid-column-end: 4;
    padding-top: 20px;
  }

  .second-section_third-article {
    grid-row: 4;
    grid-column-start: 1;
    grid-column-end: 4;
    padding-top: 7px;
  }

  /* Третья секция main */

  .third-section {
    column-gap: 18px;
  }
  
  /* Четвёртая секция main */

  .fourth-section {
    gap: 19px;
  }
  
  .gallery {
    row-gap: 21px;
    grid-template-rows: 192px 230px 318px;
  }
  
  .fourth-section_first-img {
    width: 209%;
    height: 100%;
  }
  
  .fourth-section_second-img {
    height: 100%;
  }
  
  .fourth-section_fourth-img {
    height: 246%;
  }
  
  .fourth-section_fifth-img {
    width: 209%;
  }

  /* Футер */

  .footer {
    margin-bottom: 20px; 
    min-block-size: 984px;
  }
  
  .title__footer {
    font-size: 120px;
    padding-top: 25px;
  }

  .footer.decorative_frames::after {
    content: '';
    display: inline-block;
    width: 23px;
    height: 23px;
    position: absolute;
    right: 21px;
    top: 14px;
    border-top: 1px solid var(--text-color-buttons);
    border-right: 1px solid var(--text-color-buttons);
  }
  
  .footer.decorative_frames::before {
    content: '';
    display: inline-block;
    width: 23px;
    height: 23px;
    position: absolute;
    left: 20px;
    bottom: -14px;
    border-bottom: 1px solid var(--text-color-buttons);
    border-left: 1px solid var(--text-color-buttons);
  }
}

@media (min-width: 0px) and (max-width: 375px) {
   /* Переопределение стилей для хедера ширина 375px */

   * {
    outline: 2px solid red;
   }

  .decorated-zone {
    grid-template-rows: 224px 215px 100px;
  }

  .header__theme-menu {
    max-width: 375px;
    justify-content: end;
    align-items: end;
    padding-inline-end: 3%;
    padding-block-start: 45%;
  }
  
  .header__theme-menu-list {
    grid-row-gap: 10px;
    grid-template-rows: repeat(3, 26px);
    grid-template-columns: 1fr;
  }

  .header__title {
    max-width: 375px;
    margin-block-end: 0px;
    padding-inline-start: 10px;
    letter-spacing: -2px;
    line-height: 100px;
    padding-bottom: 5px;
  }

  .header_layout_paragraph {
    max-width: 375px;
    padding-left: 10px;
  }

  .header_paragraph {
    width: 355px;
    height: 117px;
    margin-block-start: 47px;
  }

  .header__theme-menu-rec {
    right: 38px;
    top: 10px;
  }

  .decorative_frames::after {
    right: 10px;
    top: 10px;
  }
  
  .decorative_frames::before {
    left: 10px;
    bottom: 10px;
  }
  
  /* Переопределение стилей для основной части страницы ширина 375px */

  .content {
    gap: 50px;
    padding-top: 40px;
    padding-left: 10px;
  }

  .heading {
    width: 355px;
  }

  .main_paragraph {
    width: 352px;
    line-height: 23.4px;
    padding-top: 11px;
  }

  /* Первая секция main */

  .first-section {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  /* Вторая секция main */

  .second-section {
    row-gap: 0px;
    grid-template-rows: 1fr 5fr 5fr 6fr;
  }

  .second-section_first-article {
    padding-top: 2px;
  }

  .second-section_second-article {
    padding-top: 8px;
    grid-row: 3;
  }

  .second-section_third-article {
    padding-top: 10px;
    grid-row: 4;
  }

  /* Третья секция main */

  .third-section {
    row-gap: 25px;
    grid-template-columns: 1fr;
  }
  
  .third-section_first-article,
  .third-section_second-article,
  .third-section_third-article,
  .third-section_fourth-article,
  .third-section_fifth-article {
    grid-column: 1;
  }

  /* Четвёртая секция main */

  .fourth-section {
    padding-top: 0px;
    gap: 10px;
  }
  
  .gallery {
    row-gap: 10px;
    grid-template-rows: 142px 355px 237px 355px 237px;
  }
  
  .fourth-section_first-img {
    width: 355px;
    height: 100%;
    grid-column-end: 1;
  }
  
  .fourth-section_second-img {
    width: 355px;
    height: 100%;
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 2;
    grid-row-end: 2;
  }
  
  .fourth-section_third-img {
    width:  355px;
    height: 100%;
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 4;
    grid-row-end: 4;
  }
  
  .fourth-section_fourth-img {
    width: 355px;
    height: 100%;
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 3;
    grid-row-end: 3;
  }
  
  .fourth-section_fifth-img {
    width: 355px;
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 5;
    grid-row-end: 5;
  }

  /* Стили для футера */

  .title__footer {
    margin-bottom: 50px;
    font-size: 116px;
  }

  .footer.decorative_frames::after {
    content: '';
    display: inline-block;
    width: 23px;
    height: 23px;
    position: absolute;
    right: 11px;
    top: -15px;
    border-top: 1px solid var(--text-color-buttons);
    border-right: 1px solid var(--text-color-buttons);
  }
  
  .footer.decorative_frames::before {
    content: '';
    display: inline-block;
    width: 23px;
    height: 23px;
    position: absolute;
    left: 10px;
    bottom: 36px;
    border-bottom: 1px solid var(--text-color-buttons);
    border-left: 1px solid var(--text-color-buttons);
  }
}
